<div class="row">
  <div class="col-sm-12">
    <h3 style="text-align: center">Contact Us</h3>
  </div>
</div>
<br>
<div class="row">
  <div class="col-md-6 col-sm-6">
    <img class="img-responsive image1 " src="../../assets/img/customerCare.jpeg">
  </div>
  <div class="col-md-6 col-sm-6">
      <img class="img-responsive image " src="../../assets/img/customerCare2.jpg">
    </div>
</div>

<hr style="border :1px solid #85929E" />
<div class="row">
    <div class="col-md-12">
         <h3 style="text-align: center">Address</h3>
      </div>
   </div>

<div class="row">
    <div class="col-md-4">
        <h4>Central Processing Center</h4>
        <p>Apollo Munich Health Insurance Co. Ltd. iLABS Centre, 2nd & 3rd Floor, Plot No 404 - 405, Udyog Vihar, Phase ? III, Gurgaon- 122016, Haryana</p>
        
      </div>
      <div class="line"></div>
  <div class="col-md-4">
    <h4>Registered Office</h4>
    <p>Hospitals Complex, 8-2-293/82/J III/DH/900 Jubilee Hills, Telangana- 500033, Hyderabad</p>
  </div>
  <div class="col-md-4">
      <h4>Corporate Office</h4>
      <p> Munich Health Insurance Co. Ltd. 1st Floor, SCF-19, Sector-14, Gurgaon- 122001, Haryana</p>
    </div>
   
</div>